# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

*.tif
*.jar

./thesis/data/clv3_complete/Costanza_versions
./thesis/data/clv3_complete/Costanza_configs
./thesis/data/clv3_complete/newStacks
./thesis/data/clv3_complete/plant([0-9])[0-9]/*.tif
./thesis/data/clv3_complete/plant([0-9])[0-9]/MAX\ intensity
./thesis/data/clv3_complete/plant([0-9])[0-9]/segmented_costanza
./thesis/data/clv3_complete/plant([0-9])[0-9]/segmented_MARS
./thesis/data/clv3_complete/plant([0-9])[0-9]/Thumbs.db
./thesis/data/clv3_complete/plant([0-9])[0-9]/Results/*.tif
./thesis/data/clv3_complete/PNAS/plant([0-9])[0-9]/nuclear_segmentation_tiffs
./thesis/data/clv3_complete/PNAS/plant([0-9])[0-9]/processed_tiffs
./thesis/data/clv3_complete/PNAS/plant([0-9])[0-9]/segmentation_tiffs
